body {
  background-color: #E6E6E6;
}

.nav {
  background-color: #404040;
  padding: 20px;
  border-radius: 5px;
}

.nav a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

#active {
  color: #BFBFBF;
}

.nav span {
  display: inline-block;
  width: 100%;
}

.align-right {
  text-align: right;
}

.content {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.content p {
  font-family: Verdana;
}

.content h1 {
  font-family: Tahoma;
}

.footer {
  background-color: #404040;
  padding: 20px;
  border-radius: 5px;
}

.footer a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.code {
  background-color: gray;
  padding: 0px 5px 0px 5px;
  color: white;
  border-radius: 5px;
}
