body {
  background-color: #F2F2F2;
}

.nav {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
}

.nav a {
  text-decoration: none;
  color: #808080;
  margin-left: 20px;
}

#active {
  color: white;
}

.nav span {
  display: inline-block;
  width: 100%;
}

.align-right {
  text-align: right;
}

.content {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.content p {
  font-family: Verdana;
}

.content h1 {
  font-family: Tahoma;
}
